html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea { margin:0; padding:0;  }
address,cite,dfn,em, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'PingFangSC','Robot','Microsoft Yahei','simsun','arial','tahoma';  color: #333; background: #fff; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
body{
  background: #fff;
}
a { text-decoration: none; color: #333; background: none }
a:hover{
  text-decoration: underline;
  color:#000;
}
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
.botn{
  margin-top: 40px !important;
}
/*去除点击阴影*/
a,button,input{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */;
  -webkit-appearance:none;
	border-radius: 0;
	outline: none;
}
a:link{
  text-decoration: none;
}
img {
  vertical-align: middle;
}
body{
  text-transform: uppercase;
}
